.col-2 img{ 
    width: 100%;
    height: 80px;
}
.col-3 button:hover{ 
    background-color: rebeccapurple;
    color: dodgerblue;
}
.col-1:hover{ 
    background-color: rebeccapurple;
    color: cornflowerblue;
}
.col-2:hover{ 
    background-color: rebeccapurple;
    color: cornflowerblue;
}
.col-4 img{ 
    margin: 10px;
   padding: px;
}
